* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: var(--p);
}

:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --inline-code-bg:#a5a4a4;
    --inline-code-text: #111528;
    --block-of-code-bg: #f5f5f5;
    --block-of-code-text: #111528;
    --block-of-code-border: #3a435d;

    --dropdown-base-color: hsl(0, 0%, 84%);
    --text-base-color : hsl(67, 7%, 24%);
    --textarea-base-color: hsl(0, 0%, 100%);

    --header-base-color: #0D0D0D;

    /* font sizes */
    --h1: bold 3rem/1em 'DM Sans', sans-serif;
    --h2: bold 2rem/1em 'DM Sans', sans-serif;
    --h3: bold 1.5rem/1em 'DM Sans', sans-serif;
    --big: 1.25rem/1.6em 'DM Sans', sans-serif;
    --p: 1rem/1.6em 'DM Sans', sans-serif;
    --small: 0.75rem/2em 'DM Sans', sans-serif;
    --header-button-font-weight: bold 1rem/1em 'DM Sans', sans-serif;

    /* padding */
    --padding: 1rem;
    --padding-big: 2rem;
    --padding-small: 0.5rem;
    --padding-nav: 1rem;

    /* margin */
    --margin: 1rem;
    --margin-big: 2rem;
    --margin-small: 0.5rem;

    /* border radius */
    --border-radius: 0.5rem;
    --border-radius-big: 1rem;
    --border-radius-small: 0.25rem;
    --border-radius-nav: 0.5rem;

    /* fonts */
    --font-family: 'DM Sans', sans-serif;
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
    font: var(--h3);
}

h1, h2, h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.2;
    border-bottom: 1px solid var(--secondary-text);
    color: var(--text-color);
}

.darkmode {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #d0d0d0;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --inline-code-bg: #3c3c3c;
    --inline-code-text: #d0d0d0;
    --block-of-code-bg: #3c3c3c;
    --block-of-code-text: #d0d0d0;
    --block-of-code-border: #3a435d;
    --header-base-color:#101425;
}

html {
    font-family: DM Sans, sans-serif;
}

ul, ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

li {
    margin: 0.2rem 0;
    line-height: 1.5;
}

ul, ol {
    list-style-position: inside;
}

p {
    margin: var(--margin) 0;
    color: var(--secondary-text);
}

blockquote {
    margin: 1rem 0;
    padding: 1rem;
    border-left: 4px solid var(--primary-color);
    background-color: var(--base-variant);
}

blockquote p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

body {
    background-color: var(--base-variant);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ============== HEADER =============== */
header {
    background-color: var(--base-variant);
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

header button{
    cursor: pointer;
    border: none;
    padding: var(--padding-nav);
    background-color: transparent;
    color: var(--text-color);
}

.left-side-header {
    display: flex;
    align-items: center;
}

.right-side-header {
    display: flex;
    align-items: center;
}

#document-title-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-color);
    color: var(--text-color);
    outline: none;
    resize: none;
    border: none;
    text-align: center;
    height: var(--header-height);
    line-height: var(--header-height);
}


/* Dark Mode Switch Button Styles */
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

.darkmode #toolbar button img {
    filter: invert(1); 
}

.darkmode #download-pdf-button  {
    filter: invert(1); 
}

/* ============== MAIN =============== */
section {
    background-color: var(--base-color);
    flex-grow: 1;
    display: flex;
}

/* ==== Markdown Editor Styles ==== */

#editor {
    display: flex;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    flex-grow: 1;
}

/* Buttons */

button:hover {
    background-color: var(--inline-code-bg);
    color: white;
}

/* Editor and Preview */
#markdown-content,
#html-preview {
    width: 100%;
    border: none;
    overflow-y: auto;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
}

#markdown-content {
    background-color: var(--base-color);
    color: var(--text-color);
    padding: var(--padding);
    border-right: 1px solid var(--primary-color);
    outline: none;
    resize: none;
}

#html-preview {
    background-color: var(--base-variant);
    padding: var(--padding);
    
}

#html-preview img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
    display: block;
}

/* Synchronized scroll */
#markdown-content::-webkit-scrollbar,
#html-preview::-webkit-scrollbar {
    width: 8px;
}

#markdown-content::-webkit-scrollbar-thumb,
#html-preview::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
}

/* Dropdown styles for slash commands */
#dropdown {
    display: none;
    position: absolute;
    background-color: var(--base-variant);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    width: 200px;
    margin-top: 5px;
    z-index: 1000;
}

#dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 8px;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 8px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--primary-color);
    color: white;
}

.dropdown-item.active {
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
}

code {
    background-color: var(--inline-code-bg);
    color: var(--inline-code-text);
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95em;
}

pre code {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--block-of-code-bg);
    color: var(--block-of-code-text);
    border-radius: var(--border-radius-small);
    display: block;
    margin: var(--margin) 0;
    overflow-x:hidden;
    white-space: pre-wrap;

}

/* ==== FOOTER ==== */
footer {
    background-color: var(--base-color);
    padding: var(--padding-nav);
    text-align: center;
    color: var(--text-color);
    margin-top: auto;
}

/* ==== POP UP === */

.popup {
    position: fixed;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: var(--base-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: var(--padding);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: var(--margin-small);
}

.popup.hidden {
    display: none;
}

.popup-content label {
    font-size: var(--p);
    color: var(--text-color);
}

.popup-content input {
    padding: var(--padding-small);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-small);
    font-size: var(--p);
    width: 100%;
}

.popup-content button {
    padding: var(--padding-small);
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    margin-top: var(--margin-small);
}

.popup-content button:hover {
    background-color: var(--accent-color);
}